{{ form_start(form) }}
    {{ form_widget(form.message) }}
    {{ form_widget(form.date, { 'attr': {'class': 'hidden-row'} }) }}
    <button class="btn btn-lg btn-primary">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}
